<div id="preloader">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div>
<!-- End Preload -->

<div class="layer"></div>
<!-- End Header -->

<section id="hero_2" class="background-image" data-background="url(img/slide_hero_2.jpg)">
    <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
        <div class="intro_title">
            <h1>Place your order</h1>
            <div class="bs-wizard row">

                <div class="col-4 bs-wizard-step active">
                    <div class="text-center bs-wizard-stepnum">Your cart</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="cart.html" class="bs-wizard-dot"></a>
                </div>

                <div class="col-4 bs-wizard-step disabled">
                    <div class="text-center bs-wizard-stepnum">Your details</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="payment.html" class="bs-wizard-dot"></a>
                </div>

                <div class="col-4 bs-wizard-step disabled">
                    <div class="text-center bs-wizard-stepnum">Finish!</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="confirmation.html" class="bs-wizard-dot"></a>
                </div>

            </div>
            <!-- End bs-wizard -->
        </div>
        <!-- End intro-title -->
    </div>
    <!-- End opacity-mask-->
</section>
<!-- End Section hero_2 -->

<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Category</a>
                </li>
                <li>Page active</li>
            </ul>
        </div>
    </div>
    <!-- End position -->

    <div class="container margin_60">
        <div class="row">
            <div class="col-lg-8">
                <table class="table table-striped cart-list add_bottom_30">
                    <thead>
                        <tr>
                            <th>Travel Package Title</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>No. of Travellers</th>
                            <th>Booking Date</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Louvre Museum Tour</td>
                            <td><img src="./cart_files/thumb_cart_1.jpg" alt="Image" class="img-thumbnail"></td>
                            <td>Louvre Museum</td>
                            <td><input type="text" value="1" id="quantity_1" class="qty2 form-control text-center" name="quantity_1"></td>
                            <td>12-Feb-2025</td>
                            <td><strong>€24,71</strong></td>
                            <td class="text-success">Confirmed</td>
                            <td class="options">
                                <button class="btn btn-outline-danger btn-sm"><i class="icon-trash"></i></button>
                                <button class="btn btn-outline-warning btn-sm"><i class="icon-ccw-2"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Eiffel Tower Tour</td>
                            <td><img src="./cart_files/thumb_cart_1.jpg" alt="Image" class="img-thumbnail"></td>
                            <td>Eiffel Tower</td>
                            <td><input type="text" value="0" id="quantity_2" class="qty2 form-control text-center" name="quantity_2"></td>
                            <td>15-Feb-2025</td>
                            <td><strong>€0,0</strong></td>
                            <td class="text-warning">Pending</td>
                            <td class="options">
                                <button class="btn btn-outline-danger btn-sm"><i class="icon-trash"></i></button>
                                <button class="btn btn-outline-warning btn-sm"><i class="icon-ccw-2"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Seine River Tour</td>
                            <td><img src="./cart_files/thumb_cart_1.jpg" alt="Image" class="img-thumbnail"></td>
                            <td>Seine River</td>
                            <td><input type="text" value="1" id="quantity_3" class="qty2 form-control text-center" name="quantity_3"></td>
                            <td>18-Feb-2025</td>
                            <td><strong>€24,71</strong></td>
                            <td class="text-success">Confirmed</td>
                            <td class="options">
                                <button class="btn btn-outline-danger btn-sm"><i class="icon-trash"></i></button>
                                <button class="btn btn-outline-warning btn-sm"><i class="icon-ccw-2"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- End col -->

            <aside class="col-lg-4">
                <div class="box_style_1 p-3 shadow-lg rounded">
                    <h3 class="inner text-center text-uppercase fw-bold">Summary</h3>
                    <table class="table table-striped table_summary">
                        <tbody>
                            <tr>
                                <td><strong>Booking Date</strong></td>
                                <td class="text-end">12-Feb-2025</td>
                            </tr>
                            <tr>
                                <td><strong>Travel Package Type</strong></td>
                                <td class="text-end">Museum, Landmark, River Tour</td>
                            </tr>
                            <tr>
                                <td><strong>No. of Travellers</strong></td>
                                <td class="text-end">2</td>
                            </tr>
                            <tr class="total">
                                <td><strong>Total Amount</strong></td>
                                <td class="text-end">€154</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center mt-3">
                        <a class="btn btn-success btn-lg w-100 rounded-pill" href="#" style="width: 100%;">Book Now</a>
                    </div>
                </div>
            </aside>
            <!-- End aside -->
        </div>
        <!--End row -->
    </div>
    <!--End container -->


</main>
<!-- End main -->