@{
	ViewBag.Title = "Home";

}

							@using System.Globalization
 @model List<TravelPackage>
<main>
	<div id="carousel-home">
		<div class="owl-carousel owl-theme">
			<div class="owl-slide cover" style="background-image: url(img/slides/bg-myanmar.jpg);">
				<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
					<div class="container">
						<div class="row justify-content-center justify-content-md-start">
							<div class="col-lg-12 static">
								<div class="slide-text text-center white">
									<h2 class="owl-slide-animated owl-slide-title">Going Inside<br>The Louvre Museum</h2>
									<p class="owl-slide-animated owl-slide-subtitle">
										Discover hidden wonders on trips curated by Citytours Tours Experts
									</p>
									<div class="owl-slide-animated owl-slide-cta"><a class="btn_1" href="/Home/Packages" role="button">Read more</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/owl-slide-->
			<div class="owl-slide cover" style="background-image: url(img/slides/beach.jpg);">
				<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.6)">
					<div class="container">
						<div class="row justify-content-center justify-content-md-end">
							<div class="col-lg-6 static">
								<div class="slide-text text-end white">
									<h2 class="owl-slide-animated owl-slide-title">Discover<br>Vatican Museum</h2>
									<p class="owl-slide-animated owl-slide-subtitle">
										Discover hidden wonders on trips curated by Citytours Tours Experts
									</p>
									<div class="owl-slide-animated owl-slide-cta"><a class="btn_1" href="/Home/Packages" role="button">Read more</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/owl-slide-->
			<div class="owl-slide cover" style="background-image: url(img/slides/beach1.jpg);">
				<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
					<div class="container">
						<div class="row justify-content-center justify-content-md-start">
							<div class="col-lg-6 static">
								<div class="slide-text white">
									<h2 class="owl-slide-animated owl-slide-title">Love Paris<br>Arch de Triomphe</h2>
									<p class="owl-slide-animated owl-slide-subtitle">
										Discover hidden wonders on trips curated by Citytours Tours Experts
									</p>
									<div class="owl-slide-animated owl-slide-cta"><a class="btn_1" href="/Home/Packages" role="button">Read more</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/owl-slide-->
		</div>
		<div id="icon_drag_mobile"></div>
	</div>
	<!--/carousel-->
	<div class="container margin_60">

		<div class="main_title">
			<h2>Most <span>Popular</span> Packages</h2>
			<p>Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.</p>
		</div>

		<div class="owl-carousel owl-theme list_carousel add_bottom_30">
			@foreach (var item in Model)
			{
				<div class="item">
					<div class="tour_container">
						<div class="ribbon_3 popular"><span>Popular</span></div>
						<div class="img_container">
							<a href="/Home/PackageDetail/@item.Id">
								<img src="@item.Image" style="" class="img-fluid" alt="image">
								<div class="short_info">
									<i class="icon_set_1_icon-44"></i>Historic Buildings
									<span class="price">@string.Format(new CultureInfo("en-US"), "{0:N0} MMK", item.Price)</span>
								</div>

							</a>
						</div>
						<div class="tour_title">
							<h3><strong>@item.Title</strong></h3>
						</div>
					</div>
				</div>
			}
		</div>


	</div>
</main>